
<html>
	<head> 
		<!-- Refer to the indexStyles.css as this and not as ../public/indexStyles.css -->
		<link rel="stylesheet" href="../styles/indexStyles.css">
	</head>
	<body>
		<%-include('titleBar')%>
		<div class="main">

			<div class="Home Page">

                <div class="left">

                    <p>This will tell you the inventory stock and how much you have and of the quantity, you can add and edit items. Some people can delete them.</p>

                </div>

                <div class="right">
                    <button>Category</button>
                    <button>Items</button>
                </div>

			</div>
		
		</div>
	</body>
	
</html>
