<!-- color: AF0A08 -->

<html>
    <head>
        <link rel="stylesheet" href="/indexStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="title"><h1>Message Board</h1></div>
    </body>
</html>