<html>
	<head>
        <link rel="stylesheet" href="/indexStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
		
	</head>
	
	<body>
        <div class="main - SingleItem">
            
            <div class="items - single">

                
                <ul>
                        <li>
                           <%=item.name%>
                        </li>

                        <li>
                            <%=item.description%>
                        </li>
                        
                        <li>
                            <%=item.quantity%>
                        </li>

                        
                </ul>
            </div>
        

            <!-- Go back to main screen -->
            <div class="links"><a href="/items">Back</a></div>
        
        </div>
		
	</body>
</html>